* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif; }

@media only screen and (max-width: 720px) {
  * {
    font-size: 14px; } }

footer {
  width: 100%;
  height: auto;
  text-decoration: none;
  background-color: #180000;
  color: #d59344; }

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0px 30px 5px;
  font-size: 1rem; }

.footer__box {
  margin: 20px 20px;
  padding: 20px 20px; }
  .footer__box a {
    color: #d59344;
    text-transform: capitalize;
    text-decoration: none; }
  .footer__box h3 {
    margin-bottom: 10px;
    font-size: 1.47rem; }

.footer__redes a {
  text-decoration: none;
  color: #d59344;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0 5px; }
  .footer__redes a i b {
    padding: 0 5px; }

.footer__copy {
  display: flex;
  justify-content: center;
  padding: 20px 0 15px 0; }

.footerRedesA {
  text-decoration: none; }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("../font/font1.woff") format("woff"); }

body {
  background: #0f0f0f;
  z-index: -1;
  width: 100%;
  overflow-x: hidden; }

.Main__Header__Nav li a i {
  font-size: 1.6rem; }

.logoNav p {
  display: inline-block;
  text-align: center;
  font-size: 3rem; }
  .logoNav p a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #d59444;
    font-family: Pacifico;
    margin-left: 20px;
    font-size: 2.5rem;
    z-index: 3; }
  .logoNav p a:hover {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 3px #d59444, 0 0 5px #d59444; }
  to {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #d59444, 0 0 5px #d59444; } }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("../font/font1.woff") format("woff"); }

.banner__descrip h2 {
  font-family: Pacifico;
  display: inline-block;
  opacity: 1;
  margin: 1em 0;
  color: #fff;
  font-size: 2.5rem;
  font-style: italic;
  margin-left: 50px;
  text-shadow: 1px 1px #180000, 3px 3px #180000, 2px 2px #180000; }

.bannerabutton {
  display: inline-block;
  padding: 0.6em 3.5em;
  margin: auto;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  margin-left: 50px;
  text-shadow: 1px 1px #180000, -1px -1px #180000, 2px 2px #180000, -2px -2px #180000; }

.banner__ban {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  text-align: left;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), url(../img/icecube.jpg);
  background-repeat: no-repeat; }

.banner__descrip {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.banner__descrip a:hover {
  -webkit-animation: blink-2 0.9s both;
  animation: blink-2 0.9s both;
  color: #fff; }

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@keyframes blink-2 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px  #fff, 0 0 30px  #fff, 0 0 40px  #d59444, 0 0 70px  #d59444, 0 0 80px  #d59444, 0 0 100px #d59444, 0 0 150px #d59444; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d59444, 0 0 35px #d59444, 0 0 40px #d59444, 0 0 50px #d59444; } }

.titleElyx {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 7rem; }
  .titleElyx a:hover {
    color: #d59444;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

.titleElyxhref {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #d59444;
  font-family: Pacifico;
  margin-left: 50px;
  font-size: 8rem; }

.nosotros {
  color: #f0e8e8; }

.nosotros__box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 8em; }

.nosotros__card {
  width: 500px;
  height: 500px;
  border: 10px solid #0f0f0f;
  border-radius: 125px 41px 125px 30px; }

.nosotros__card__textos {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly; }
  .nosotros__card__textos h3 {
    font-size: 2rem; }
  .nosotros__card__textos p {
    font-size: 1.4rem; }

#nos-img-1 {
  background-image: url("../img/barra.png"); }

#nos-img-2 {
  background-image: url("../img/bar.jpg");
  background-position: bottom; }

.sponsor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: white;
  margin: 15px 0; }

.sponsor__card img {
  height: 12em; }

#jager {
  height: 8em; }

.box__sponsor {
  text-align: center; }
  .box__sponsor h3 {
    font-size: 2.5rem;
    margin-top: 3rem; }

.menu__body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

.menu {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 100px 50px 20px; }

.menu__box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card {
  border-radius: 10px;
  min-height: 230px;
  min-width: 31%;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin: 15px 5px; }
  .card:hover {
    transform: scale(1.07);
    box-shadow: 0px 0px 14px 11px rgba(0, 0, 0, 0.79); }
  .card p:hover {
    cursor: pointer; }

#negroni {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url(../img/negroni.jpg); }

#caipirina {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url(../img/caipirina.jpg); }

#mojito {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url("../img/mojito.jpg"); }

#bramble {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url("../img/bramble.jpg"); }

#newyorksour {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url("../img/newyorksour.jpg"); }

#moscowmule {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url("../img/moscowmule.jpg"); }

#espressomartini {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url("../img/espressomartini.jpg"); }

#maitai {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url("../img/mai-tai.jpg"); }

#cubalibre {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.517), rgba(86, 14, 68, 0.37)), url("../img/cubalibre.jpg"); }

.card__textos {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  color: #fff;
  border: #000, #000; }

.menu__banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  .menu__banner ul {
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: center; }
    .menu__banner ul li {
      margin: 15px;
      font-weight: bold; }
  .menu__banner button {
    background: #FFD600;
    display: block;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer; }

#fondobanermenu {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.894), rgba(86, 14, 68, 0.27)), url("img/barra.png");
  background-position: center; }

.banerboton:hover {
  -webkit-animation: blink-2 0.9s both;
  animation: blink-2 0.9s both; }

.reservas {
  color: #f0e8e8;
  background: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: auto; }

.form {
  background-color: rgba(17, 0, 0, 0.9);
  border-radius: 20px;
  box-sizing: border-box;
  height: 880px;
  padding: 20px;
  width: 375px;
  margin: 8rem auto 5rem;
  border: 1px solid #d59444; }

.title {
  color: #d59444;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center; }

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center; }

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px; }

.ic1 {
  margin-top: 40px; }

.input {
  background-color: #fff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%; }

.cut {
  background-color: rgba(17, 0, 0, 0.98);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 65px; }

.cut-short {
  width: 55px; }

.cut-big {
  width: 85px; }

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px); }

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px; }

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75); }

.input:not(:placeholder-shown) ~ .placeholder {
  color: #fff; }

.input:focus ~ .placeholder {
  color: #d59444; }

.submit {
  background-color: #d59444;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 65px;
  text-align: center;
  width: 100%; }

.submit:active {
  background-color: #fff;
  border: 5px solid #d59444;
  color: #d59444; }

.ic8 textarea {
  border-radius: 10px;
  resize: none;
  width: 332px;
  height: 90px;
  padding: 5px; }

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url("./../font/font2.woff") format("woff"); }

.ubi h1 {
  margin: 20px 0 20px 0;
  text-align: center; }

.ubi a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 3rem;
  color: #d59444;
  font-family: Audiowide; }

.ubi a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate; }

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px  #fff, 0 0 30px  #fff, 0 0 40px  #d59444, 0 0 70px  #d59444, 0 0 80px  #d59444, 0 0 100px #d59444, 0 0 150px #d59444; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d59444, 0 0 35px #d59444, 0 0 40px #d59444, 0 0 50px #d59444, 0 0 75px #d59444; } }

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url(".././font/font2.woff") format("woff"); }

.contactoformu {
  display: flex;
  align-items: center;
  justify-content: center; }

.contactodebus h1 {
  margin: 20px 0 20px 0;
  color: #d59444; }

.contactodebus a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 3rem;
  color: #d59444;
  font-family: Audiowide; }

.contactodebus a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate; }

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px  #fff, 0 0 30px  #fff, 0 0 40px  #d59444, 0 0 70px  #d59444, 0 0 80px  #d59444, 0 0 100px #d59444, 0 0 150px #d59444; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d59444, 0 0 35px #d59444, 0 0 40px #d59444, 0 0 50px #d59444, 0 0 75px #d59444; } }

.contactoformu {
  margin: auto; }

@media only screen and (min-width: 769px) {
  .Main__Header {
    position: fixed;
    color: #d59344;
    background: #180000;
    width: 100%;
    z-index: 3;
    top: 0; }
    .Main__Header ul li i {
      font-size: 1.5rem; }
  Nav {
    height: 80px; }
  .Main__Cont__Logo {
    width: 80px;
    margin-left: 50px; }
  .bar__btn {
    display: none; }
  #check {
    display: none; }
  .Main__Header__Nav {
    height: 100px;
    transition: none;
    text-align: right;
    margin-right: 50px;
    margin-top: -45px; }
    .Main__Header__Nav li {
      display: inline-block;
      margin: 0 4px;
      transition: none; }
      .Main__Header__Nav li a {
        color: #d59344;
        font-size: 1rem;
        text-decoration: none; }
  .bootsNav {
    margin-top: -60px; }
  .caja {
    width: 100%;
    height: 80px; }
  .form {
    width: 65%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1.5fr 0.8fr;
    gap: 0px 0px;
    grid-template-areas: "title title" "subtitle subtitle" "ic1 ic2" "ic3 ic4" "ic5 ic6" "ic7 none" "ic8 ic8" "submit submit"; }
  .title {
    grid-area: title;
    text-align: center;
    font-size: 40px; }
  .subtitle {
    grid-area: subtitle;
    text-align: center;
    font-size: 30px; }
  .ic1 {
    grid-area: ic1; }
  .ic2 {
    grid-area: ic2; }
  .ic3 {
    grid-area: ic3; }
  .ic4 {
    grid-area: ic4; }
  .ic5 {
    grid-area: ic5; }
  .ic6 {
    grid-area: ic6; }
  .ic7 {
    grid-area: ic7; }
  .none {
    grid-area: none; }
  .ic8 {
    grid-area: ic8; }
  .submit {
    grid-area: submit; }
  .ic1 {
    margin-top: 30px; }
  .input-container {
    padding: 5px; }
  .ic8 textarea {
    border-radius: 10px;
    resize: none;
    width: 100%;
    height: 170px; } }

@media only screen and (max-width: 768px) {
  .footer {
    flex-wrap: wrap; }
  .footer__box {
    text-align: center; }
  .footer__copy {
    text-align: center; }
  .logoNav p a {
    font-size: 2.3rem; }
  .Main__Header {
    width: 100%;
    background: #180000;
    position: fixed;
    z-index: 2; }
  .reservasHeaderNav {
    margin-top: -128px; }
  nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .Main__Cont__Logo {
    width: 52px;
    margin-left: 30px; }
  .bar__btn {
    font-size: 2rem;
    color: #d59344;
    margin-right: 20px;
    cursor: pointer; }
    .bar__btn i {
      font-size: 2rem;
      margin-right: 10px; }
  .Main__Header__Nav {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 60px;
    background: rgba(0, 0, 0, 0.98);
    color: #d59344;
    text-align: center;
    transition: all 0.5s; }
    .Main__Header__Nav li {
      display: none;
      line-height: 30px;
      margin: 50px 0;
      transition: all 0.5s; }
      .Main__Header__Nav li a {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        color: #d59344;
        text-decoration: none; }
  #check {
    display: none; }
    #check:checked ~ .Main__Header__Nav {
      height: 100vh; }
      #check:checked ~ .Main__Header__Nav li {
        display: block; }
  .banner__ban {
    background-size: cover;
    height: 100vh; }
  .banner h2 {
    font-size: 1.5rem;
    margin: 10px 20px 15px;
    text-align: justify; }
  .banner a {
    font-size: 1rem; }
  .banner h1 a {
    font-size: 7rem; }
  .menu {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 15px; }
  .menu__box {
    display: flex;
    justify-content: center; }
  .card {
    width: 100%;
    margin: 15px 0px;
    max-height: auto; }
  .menu__banner {
    margin-top: 50px; }
  .carrusel {
    height: 100%; }
  .carrusel__item__flechas {
    top: -100px; }
  .caja {
    width: 100%;
    height: 80px; } }

@media only screen and (max-width: 720px) {
  * {
    font-size: 14px; }
  .reservasHeaderNav {
    margin-top: -112px; } }

@media only screen and (max-width: 560px) {
  footer {
    height: auto; }
  .footer {
    gap: 13px; }
  .Main__Header {
    width: 100%; }
  .reservasHeaderNav {
    margin-top: -112px; }
  .menu__banner {
    width: 100%;
    margin-top: 50px; }
    .menu__banner ul {
      display: flex;
      flex-wrap: wrap; }
  .menu {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
    overflow: hidden; }
  .menu__box {
    display: flex;
    justify-content: center; }
  .card {
    width: 100%;
    margin: 15px 0px;
    max-height: auto; }
  .banner h1 a {
    font-size: 5.5rem;
    margin-left: 20px; } }
