@import "./partials/variables";

footer {
	width: 100%;
	height: auto;
	text-decoration: none;
	background-color: #180000;
	color: $maincolor;
}
.footer {
	display: flex;
    flex-wrap: nowrap;
	margin: 0px 30px 5px;
	font-size: 1rem;
}
.footer__box {
	margin: 20px 20px;
	padding: 20px 20px;
	a {
		color: $maincolor;
		text-transform: capitalize;
		text-decoration: none;
	}
	h3{
		margin-bottom: 10px;
		font-size: 1.47rem;
	}
}
.footer__redes {
	a {
		color: $maincolor;
		text-transform: capitalize;
		text-decoration: none;
		padding: 0 5px;
		i{
			b{
				padding: 0 5px;
			}
		}
	}
}
.footer__copy {
	display: flex;
	justify-content: center;
	padding: 20px 0 15px 0;
}
