
@font-face {
	font-family: 'Audiowide';
	font-style: normal;
	font-weight: 400;
	src: url('../font/font2.woff') format('woff');
  }

.contactodebus{
	h1{
		margin:20px 0 20px 0;
        color:#d59444
	  }
	  a{
		text-decoration:none;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
		font-size:3rem;
		color:#d59444;
		font-family:Audiowide;  
		}
		a:hover{
			-webkit-animation: neon3 1.5s ease-in-out infinite alternate;
			-moz-animation: neon3 1.5s ease-in-out infinite alternate;
			animation: neon3 1.5s ease-in-out infinite alternate;
		  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #d59444,
               0 0 70px  #d59444,
               0 0 80px  #d59444,
               0 0 100px #d59444,
               0 0 150px #d59444;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #d59444,
               0 0 35px #d59444,
               0 0 40px #d59444,
               0 0 50px #d59444,
               0 0 75px #d59444;
  }
}

.contactoformu{
    margin: auto;
}