.reservas {
	color: rgb(240, 232, 232);
	background: url(../img/mojitoZoom.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}
.reservas__main {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 10em;
}
.reservas__card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px solid black;
	height: 500px;
	width: 500px;
	label {
		text-align: center;
	}
	input {
		width: 100%;
		margin: 7px 0;
	}
	h3 {
		text-align: center;
		font-size: 1.7rem;
		color: #000000;
	}
	textarea {
		resize: none;
	}
	button {
		margin-top: 7px;
	}
}
#reservas__form {
	background: rgba(0, 0, 0, 0.7);
}
#reservas__card__img {
	background: url('../img/bar.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}
.map {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 6em;
	color: #000;
	font-size: 2rem;
	width: 100%;

	h3{
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}
